@{
    var user = ViewBag.user as DOANTOTNGHIEP.Models.TaiKhoan;
    string nguoitao = user.TenDangNhap;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/JS/JqueryClass.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/Scripts/summernote/summernote.min.js"></script>
    <link href="~/Content/summernote/summernote.css" rel="stylesheet" />
    <script src="~/signalr/hubs"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.2.0/js/dataTables.fixedHeader.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $(".btnmenu").css("height", $(".navbar-header").css("height"))
            $('.btnmenu').click(function () {
                $(".btnanmenu").css("height", $(".navbar-header").css("height"))
                $('.menu').css("display", "block");
                $('.menuleft').css("margin-left", "0");

            });


        });



    </script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @*  @Scripts.Render("~/bundles/modernizr")*@
</head>
<body style="background-color: #F0F0F0 ">
    @{

    }
    <div class="navbar  navbar-fixed-top bg-primary">

        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="glyphicon glyphicon-menu-hamburger" style="font-size:25px"></span>

                </button>


                <div class="navbar-left header" style="color:white;height:50px">
                    <a href="~/Admin/Index" style="max-height: 50px;  " class="navbar-header">

                        <img src="~/Content/image/Icon/class.png" width="60" />
                        <label class="d-inline-block align-top" height="25" width="80" style="margin: 10px; margin-right: 25px; font-size: 20px; color: white">LMS ADMIN</label>
                    </a>

                    <button style="background-color:transparent;border:0px;font-size:25px;height:50px" class="glyphicon glyphicon-menu-hamburger btnmenu">
                    </button>
                </div>

            </div>
            <div class="navbar-collapse collapse ">
                <div class="navbar-right" style="margin-right: 20px; height: 50px">





                    <ul class="nav navbar-nav">


                        <li class="nav-item dropdown" style="margin: 4px;">

                            <img class="navbar-btn navbar-link dropdown-toggle " src=@user.HinhAnh width="30" height="30" style="border-radius:45px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />


                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border-radius:5px">
                                <ul class="nav navbar-nav">
                                    <li style="width:100%;padding:1px">
                                        <table style="margin:5px">
                                            <tr>
                                                <th style="padding:10px">
                                                    <img class="navbar-btn navbar-link dropdown-toggle " id="anhheader" src=@user.HinhAnh width="40" height="40" style="border-radius:10px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />

                                                </th>
                                                <th>
                                                    <table style="min-width:140px;">
                                                        <tr>
                                                            <th>
                                                                @{
                                                                    if (@user.ChucVu.ToLower().Contains("GiaoVien".ToLower()))
                                                                    {
                                                                        <label style="padding: 5px; font-size: 13px; color: black;">Giáo Viên</label>
                                                                    }
                                                                    else if (@user.ChucVu.ToLower().Contains("SinhVien".ToLower()))
                                                                    {
                                                                        <label style="padding: 5px; font-size: 13px; color: black; ">Sinh Viên</label>
                                                                    }
                                                                    else if (@user.ChucVu.ToLower().Contains("Admin".ToLower()))
                                                                    {
                                                                        <label style="padding: 5px; font-size: 13px;color:black;">Admin</label>
                                                                    }

                                                                }
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <label style="padding:5px;font-size:13px;color:black;">@user.Ho @user.Ten</label>
                                                            </th>

                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <label style="padding:5px;font-size:13px;color:black;">@user.Email</label>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <a class="dropdown-item " href="~/Account/EditAccount" style="background-color:#642EFE;padding:5px;border-radius:5px;color:white;text-decoration:none"><i class="fa fa-address-card-o" aria-hidden="true" style="font-size:20px"></i> Edit profile</a>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </table>


                                    </li>

                                    <li style="width:100%; font-size:17px"><a class="dropdown-item" href="~/Account/EditPass"> <i class="glyphicon glyphicon-edit" aria-hidden="true"></i> Edit password</a></li>
                                    <li style="width:100%;font-size:17px"><a class="dropdown-item" href="~/login/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>

        </div>
    </div>
    <div id="layoutSidenav_content">
        <div class="navbar  navbar-fixed-top menu" style="display:none">
            @{Html.RenderAction("menu", "Admin");}
        </div>
        <main>

            <div class="alert alert-success" id="success-alert" style="display: none; position:absolute ; z-index: 1051;bottom:20px;left:20px;right:20px">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong class="AlertSuccess">Success! </strong>
            </div>
            <div class="alert alert-danger" id="error-alert" style="display: none; position:absolute ; z-index: 1051;bottom:20px;left:20px;right:20px">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong class="AlertError">Error! </strong>
            </div>
            <div class="alert alert-warning" id="warning-alert" style="display: none; position:absolute ; z-index: 1051;bottom:20px;left:20px;right:20px">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong class="AlertWarning">Warning! </strong>
            </div>
            <div class="alert alert-info" id="info-alert" style="display: none; position:absolute ; z-index: 1051;bottom:20px;left:20px;right:20px">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong class="AlertInfor"></strong>
            </div>



            @RenderBody()
            <div class="modal" id="modalloading" role="dialog">
                <div class="iconloader"></div>
            </div>
        </main>










    </div>
    <hr />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
<script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/JS/JqueryClass.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/Scripts/summernote/summernote.min.js"></script>
<link href="~/Content/summernote/summernote.css" rel="stylesheet" />
<script src="~/signalr/hubs"></script>
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.2.0/js/dataTables.fixedHeader.min.js"></script>