@model DOANTOTNGHIEP.Models.TaiKhoan
@{
    var tinnhan = ViewData["tinnhan"] as List<DOANTOTNGHIEP.Models.Mess>;
    var user = ViewBag.user as DOANTOTNGHIEP.Models.TaiKhoan;
    string nguoitao = user.TenDangNhap;
    var malop = ViewBag.malop;

}
<style type="text/css">
    #noidung::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    #mess {
        border-radius: 10px;
        padding: 5px;
        height: fit-content;
        min-height: fit-content;
    }

    .messthanhvien {
        width: 100%;
        height: fit-content;
        border: 0px solid #000000;
        background-color: transparent;
        

    }

    #noidung {
        height: 420px;

        padding: 20px;
        overflow-y: scroll;
        border-radius: 10px;
        background-color: white
    }

    .tinnhandi {
        border-radius: 10px;
        background-color: #A9F5F2;
        padding: 5px;
        word-wrap: break-word;
        max-width: 80%
    }

    .tinnhanden {
        border-radius: 10px;
        background-color: #BDBDBD;
        padding: 5px;
        word-wrap: break-word;
        max-width: 80%
    }

    @*div#nhan {
        width: 100%;
        border: 0px solid #000000;
        padding: 10px;
        padding-left: 0px;
        background-color: transparent
    }*@

    

    #btngui {
        margin-top: 30%;
        font-size: 40px;
        background-color: transparent;
        text-align: center;
        border: 0
    }

    .tennguoinhan {
        margin-left: 30px
    }
</style>

<link href="~/Scripts/emoji/css/emoji.css" rel="stylesheet" />
<script src="~/Scripts/emoji/js/config.js"></script>
<script src="~/Scripts/emoji/js/tam-emoji.min.js"></script>




<script type="text/javascript">


    $(document).ready( function () {


        $('#noidung').scrollTop($('#noidung')[0].scrollHeight);

        load1();
        @*$("#thanhvien").css("background-color", "#F0F0F0");
        $(".thanhvien_@Model.TenDangNhap").css("background-color", "white");
*@
       

        loadClient();




    });

    function  loadClientonline() {

        $.connection.hub.start();
        var mess = $.connection.chat;

        mess.client.clientonline = function (data) {


            if (data.find(element => element == "@nguoitao") == undefined) {

                $.connection.hub.stop();
                $.connection.hub.start();
            }
            $.connection.hub.start().done();
            $("[id^=trangthaionline]").css("background-color", "gray")
            for (var i = 0; i < data.length; i++) {
                $(`.Trangthai_`+data[i]).css("background-color", "#00FF00")
            }
        }

    }

    $(function () {


          $("#btngui").click(function () {
              var mess = $.connection.chat;
              var tinnhan = $("#tinnhan").val().replace("<p><br></p>","");
              if (tinnhan != '' && tinnhan.indexOf("<p><br></p>") < 0) {
                  $.ajax({
                url: '/Message/SaveInforMess', type: 'post',
                data: {
                    nguoinhan: "@Model.TenDangNhap" ,
                    tinnhan: tinnhan,
                    malop: "@malop",
                      }

            });
                  mess.server.messages("@nguoitao", '@Model.TenDangNhap', "@malop", tinnhan);
                    mess.server.classnames("@nguoitao",'@Model.TenDangNhap',"@malop");

                  $('#tinnhan').val('');
                  $('#tinnhan').summernote("code","<p><br></p>");



                }

        });


    });

    function loadClient() {

        var mess = $.connection.chat;
        mess.client.message = function (sender, receiver, malop, message) {
            const audio = new Audio("/Content/sound/receive.mp3")
            audio.play()
            setTimeout(function () { audio.pause() }, 800)
            if (sender == "@nguoitao" && receiver == "@Model.TenDangNhap" && malop == "@malop" && message != "") {
                $('#tnm').append("<div style='text-align:right'><label class='tinnhandi'>" + message + "<label style='font-size:10px;color:#848484'>@DateTime.Now.ToString(string.Format("HH:mm "))</label></label></div>");
                $('#noidung').scrollTop($('#noidung')[0].scrollHeight);
            }
            else if (receiver == "@nguoitao" && sender == "@Model.TenDangNhap" && malop == "@malop" && message != "") {

                $('#tnm').append("<div style='text-align:left'><label class='tinnhanden'>" + message + "<label style='font-size:10px;color:#848484'>@DateTime.Now.ToString(string.Format("HH:mm "))</label></label></div>");
                $('#noidung').scrollTop($('#noidung')[0].scrollHeight);
            }
            else if (receiver == "@nguoitao" && malop == "@malop" && message != "") {

                $('.divthanhvien').scrollTop(0);
                var s = $(".thanhvien_" + sender).html();

                $(".thanhvien_" + sender).remove();
                $(".nguoimoi").after("<form action='/Message/InforMess/" + sender + "?malop=@malop' data-ajax='true' data-ajax-method='POST' data-ajax-mode='replace' data-ajax-update='#mess' id='form1' method='post'>"+s+"</form > ");

            }
        }

    }
    function load1() {
        document.emojiSource = '../../Scripts/emoji/img';
        document.emojiButton = 'glyphicon glyphicon-heart';
        var myElement = $('#tinnhan');
        myElement.summernote({
            // set editor height
            placeholder: 'Nhập tin nhắn bạn muốn nhắn',
            callbacks: {
                onImageUpload: function (files) {
                    for (var i = 0; i < files.length; i++) {

                        uploadImage(files[i]);
                    }
                },
                onKeyup: function (e) {
                    var tinnhan = $("#tinnhan").val();
                    if (tinnhan.length == 0) $('#tinnhan').summernote("code", "<p><br></p>");
                    if (e.keyCode == 13) {
                        var checkenter = $('#checkenter:checked').length;

                        if (checkenter == 1) {
                            console.log(checkenter)
                            $("#btngui").trigger('click');

                        }


                    }


                }
            },
            toolbar: [
                ['insert', [ 'emoji']],

                ['insert', ['link', 'picture']],
                ['view', ['fullscreen', 'undo', 'redo']],
            ],
            disableResizeEditor: true,
            height: 75,
            minHeight: null, // set minimum height of editor
            maxHeight: null, // set maximum height of editor
            focus: true // set focus to editable area after initializing summernote
        });
    }

    function uploadImage(file) {
        var formData = new FormData();
        formData.append("uploadedFiles", file);
        $.ajax({
            data: formData,
            type: "POST",
            url: '/Message/UploadFile',
            cache: false,
            contentType: false,

            processData: false,
            success: function (FileUrl) {

                var imgNode = document.createElement('img');
                imgNode.src = FileUrl;
                $('#tinnhan').summernote('insertNode', imgNode);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    }

</script>
<div id="mess">

    <div>
    <div class="messthanhvien" >
        <img src=@Model.HinhAnh width="30" height="30" style="border-radius:45px;"><label class="tennguoinhan">  @Model.Ho  @Model.Ten</label>
        <hr style="margin:0px;padding:0px;"/>
    </div>
    
    <div id="noidung">
        @{
            int zz = 0;
        }
        @foreach (var i in tinnhan)
        {
            if (zz == 0)
            {

                <div style="text-align:center;"><label style="font-size:10px;color:#848484">@tinnhan[zz].thoigiangui.Value.ToString(string.Format("dd/MM/yyyy"))</label></div>
            }
            if (zz > 0 && zz <= tinnhan.Count - 1 && !tinnhan[zz].thoigiangui.Value.ToString(string.Format("dd/MM/yyyy")).Equals(tinnhan[zz - 1].thoigiangui.Value.ToString(string.Format("dd/MM/yyyy"))))
            {
                <div style="text-align:center;"><label style="font-size:10px;color:#848484">@tinnhan[zz].thoigiangui.Value.ToString(string.Format("dd/MM/yyyy"))</label></div>
            }
            if (i.NguoiGui.Equals(nguoitao))
            {
                <div style="text-align:right;"><label class="tinnhandi">@Html.Raw(@i.TinNhan)<label style="font-size:10px;color:#848484">@tinnhan[zz].thoigiangui.Value.ToString(string.Format("HH:mm "))</label></label></div>
            }
            else
            {
                <div style="text-align:left"><label class="tinnhanden">@Html.Raw(@i.TinNhan)<label style="font-size:10px;color:#848484">@tinnhan[zz].thoigiangui.Value.ToString(string.Format("HH:mm "))</label></label></div>
            }
            zz++;
        }
        <div id="tnm"></div>
    </div>
    </div>
    <div>
        <hr style="margin:0px;padding:0px;" />
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="checkenter" id="checkenter">
            <label class="form-check-label" for="checkenter">
                enter to send message
            </label>
        </div>
        <div class="input-group" style="min-width: calc(100% - 90px);">
            <textarea id="tinnhan" class="form-control" required style="border-radius: 10px; width: 100%; max-width: 100%; resize: none"></textarea>
           
            <span class="input-group-addon fa fa-telegram" id="btngui" style="cursor:pointer"></span>

        </div>


    </div>

    </div>
