@model DOANTOTNGHIEP.Models.GroupChat
@{
    var tinnhan = ViewData["tinnhan"] as List<DOANTOTNGHIEP.Models.MessGroup>;
    var user = ViewBag.user as DOANTOTNGHIEP.Models.TaiKhoan;
    string nguoitao = user.TenDangNhap;
    var malop = ViewBag.malop;

}
<style type="text/css">
    #noidung::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    #mess {
        border-radius: 10px;
        padding: 5px;
        height: fit-content;
        min-height: fit-content;
    }

    .messthanhvien {
        width: 100%;
        height: fit-content;
        border: 0px solid #000000;
        background-color: transparent;


    }

    #noidung {
        height: 420px;

        padding: 20px;
        overflow-y: scroll;
        border-radius: 10px;
        background-color: white
    }

    .tinnhandi {
        border-radius: 10px;
        background-color: #A9F5F2;
        padding: 5px;
        word-wrap: break-word;
        max-width: 80%
    }

    .tinnhanden {
        border-radius: 10px;
        background-color: #BDBDBD;
        padding: 5px;
        word-wrap: break-word;
        word-break: break-all;
        max-width: 100
    }

    @*div#nhan {
        width: 100%;
        border: 0px solid #000000;
        padding: 10px;
        padding-left: 0px;
        background-color: transparent
    }*@



    #btngui {
        margin-top: 30%;
        font-size: 40px;
        background-color: transparent;
        text-align: center;
        border: 0
    }

    .tennguoinhan {
        margin-left: 30px
    }
</style>

<link href="~/Scripts/emoji/css/emoji.css" rel="stylesheet" />
<script src="~/Scripts/emoji/js/config.js"></script>
<script src="~/Scripts/emoji/js/tam-emoji.min.js"></script>




<script type="text/javascript">


    $(document).ready( function () {


        $('#noidung').scrollTop($('#noidung')[0].scrollHeight);

        load1();
        @*$("#thanhvien").css("background-color", "#F0F0F0");
        $(".thanhvien_@Model.TenDangNhap").css("background-color", "white");
*@


        loadClient();




    });

    function  loadClientonline() {

        $.connection.hub.start();
        var mess = $.connection.chat;

        mess.client.clientonline = function (data) {


            if (data.find(element => element == "@nguoitao") == undefined) {

                $.connection.hub.stop();
                $.connection.hub.start();
            }
            $.connection.hub.start().done();
            $("[id^=trangthaionline]").css("background-color", "gray")
            for (var i = 0; i < data.length; i++) {
                $(`.Trangthai_`+data[i]).css("background-color", "#00FF00")
            }
        }

    }

    $(function () {


          $("#btngui").click(function () {
              var mess = $.connection.chat;
              mess.invoke('JoinGroup', "@Model.ID");

              var tinnhan = $("#tinnhan").val().replace("<p><br></p>","");
              if (tinnhan != '' && tinnhan.indexOf("<p><br></p>") < 0) {
                  $.ajax({
                      url: '/Message/SaveInforMessGroupChat', type: 'post',
                data: {
                    nguoinhan: "@Model.ID" ,
                    tinnhan: tinnhan,
                    malop: "@malop",
                      }

                  });

                  mess.invoke('SendMessageToGroup', "@nguoitao","@user.HinhAnh","@user.Ho "+"@user.Ten", '@Model.ID', "@malop", tinnhan);
                  @*  mess.server.classnames("@nguoitao",'@Model.ID',"@malop");*@

                  $('#tinnhan').val('');
                  $('#tinnhan').summernote("code","<p><br></p>");



                }

        });


    });

    function loadClient() {

        var mess = $.connection.chat;
        $.connection.hub.start().done(function () {
            // Join the group
             mess.invoke('JoinGroup', "@Model.ID");
        });

        mess.on('ReceiveMessage', function (sender,image,name, malop, message) {
            console.log(sender)
            const audio = new Audio("/Content/sound/receive.mp3")
            audio.play()

            setTimeout(function () { audio.pause() }, 3000)
            if (sender == "@nguoitao"  && message != "") {
                $('#tnm').append("<div style='text-align:right'><label class='tinnhandi'>" + message + "<label style='font-size:10px;color:#848484'>@DateTime.Now.ToString(string.Format("HH:mm "))</label></label></div>");
                $('#noidung').scrollTop($('#noidung')[0].scrollHeight);
            }
            else if (sender != "@nguoitao"  && message != "") {

                $('#tnm').append(`<div style="text-align: left; display: flex; align-items: flex-end; "><div><img src="` + image + `" width="30" height="30" style="border-radius:45px;"></div><div style="margin-left:5px"><label style="color: rgb(89 85 85 / 60%)">` + name + `</label><br /><label class="tinnhanden">` + message + `<label style="font-size:10px;color:#848484">@DateTime.Now.ToString(string.Format("HH:mm "))</label></label></div></div>`);
                $('#noidung').scrollTop($('#noidung')[0].scrollHeight);
            }

        }
        )

    }
    function load1() {
        document.emojiSource = '../../Scripts/emoji/img';
        document.emojiButton = 'glyphicon glyphicon-heart';
        var myElement = $('#tinnhan');
        myElement.summernote({
            // set editor height
            placeholder: 'Nhập tin nhắn bạn muốn nhắn',
            callbacks: {
                onImageUpload: function (files) {
                    for (var i = 0; i < files.length; i++) {

                        uploadImage(files[i]);
                    }
                },
                onKeyup: function (e) {
                    var tinnhan = $("#tinnhan").val();
                    if (tinnhan.length == 0) $('#tinnhan').summernote("code", "<p><br></p>");
                    if (e.keyCode == 13) {
                        var checkenter = $('#checkenter:checked').length;

                        if (checkenter == 1) {
                            console.log(checkenter)
                            $("#btngui").trigger('click');

                        }


                    }


                }
            },
            toolbar: [
                ['insert', [ 'emoji']],

                ['insert', ['link', 'picture']],
                ['view', ['fullscreen', 'undo', 'redo']],
            ],
            disableResizeEditor: true,
            height: 75,
            minHeight: null, // set minimum height of editor
            maxHeight: null, // set maximum height of editor
            focus: true // set focus to editable area after initializing summernote
        });
    }

    function uploadImage(file) {
        var formData = new FormData();
        formData.append("uploadedFiles", file);
        $.ajax({
            data: formData,
            type: "POST",
            url: '/Message/UploadFile',
            cache: false,
            contentType: false,

            processData: false,
            success: function (FileUrl) {

                var imgNode = document.createElement('img');
                imgNode.src = FileUrl;
                $('#tinnhan').summernote('insertNode', imgNode);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    }
    function AddMember() {
        var email = $(".emailmember").val();
        if (email.length == 0) {
            $(".AlertWarning").text("Vui lòng nhập email")
            $("#warning-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#warning-alert").slideUp(500);
            });
            return
        }
        $.ajax({
            url: '/Message/AddMemberGroup', type: 'post',
                data: {
                    idgroup: "@malop" ,
                    email: email,
            },
            success: function (result) {
                console.log(result)
                if (!result["result"]) {

                    $(".AlertWarning").text(result["value"])
                    $("#warning-alert").fadeTo(2000, 500).slideUp(500, function () {
                        $("#warning-alert").slideUp(500);
                    });
                } else {
                    $(".emailmember").val('')
                    $(".AlertSuccess").text(result["value"])
                    $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                        $("#success-alert").slideUp(500);
                    });
                }
            },
            error: function (data) {
                location.reload()
            }

                  });
    }

</script>
<div id="mess">

    <div>
        <div class="messthanhvien">
            <div style="display:flex">
                <div class="header-title">
                    <img src=@Model.image width="30" height="30" style="border-radius:45px;"><label class="tennguoinhan">  @Model.Name</label>
                </div>
                @if (Model.admin == nguoitao)
                {
                    <div class="header-buttton">
                        <button class="glyphicon glyphicon-plus" style="font-size: 20px; background-color: transparent; border: 0px; color: black; flex: 1" data-toggle="modal" data-target="#modalAddthanhvien"></button>

                    </div>
                }

            </div>
            <hr style="margin:0px;padding:0px;" />
        </div>

        <div id="noidung">
            @{
                int zz = 0;
            }
            @foreach (var i in tinnhan)
            {
                if (zz == 0)
                {

                    <div style="text-align:center;"><label style="font-size:10px;color:#848484">@tinnhan[zz].thoigiangui.Value.ToString(string.Format("dd/MM/yyyy"))</label></div>
                }
                if (zz > 0 && zz <= tinnhan.Count - 1 && !tinnhan[zz].thoigiangui.Value.ToString(string.Format("dd/MM/yyyy")).Equals(tinnhan[zz - 1].thoigiangui.Value.ToString(string.Format("dd/MM/yyyy"))))
                {
                    <div style="text-align:center;"><label style="font-size:10px;color:#848484">@tinnhan[zz].thoigiangui.Value.ToString(string.Format("dd/MM/yyyy"))</label></div>
                }
                if (i.NguoiGui.Equals(nguoitao))
                {
                    <div style="text-align:right;"><label class="tinnhandi">@Html.Raw(@i.TinNhan)<label style="font-size:10px;color:#848484">@tinnhan[zz].thoigiangui.Value.ToString(string.Format("HH:mm "))</label></label></div>
                }
                else
                {
        <div style="text-align: left; display: flex; align-items: flex-end; ">
            <div>
                <img src="@i.TaiKhoan.HinhAnh" width="30" height="30" style="border-radius:45px;">
            </div>
            <div style="margin-left:5px">
                <label style="color: rgb(89 85 85 / 60%)">@i.TaiKhoan.Ho @i.TaiKhoan.Ten</label>
                <br />
                <label class="tinnhanden">@Html.Raw(@i.TinNhan)<label style="font-size:10px;color:#848484">@tinnhan[zz].thoigiangui.Value.ToString(string.Format("HH:mm "))</label></label>
            </div>
        </div>

                }
                zz++;
            }
            <div id="tnm"></div>
        </div>
    </div>
    <div>
        <hr style="margin:0px;padding:0px;" />
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="checkenter" id="checkenter">
            <label class="form-check-label" for="checkenter">
                enter to send message
            </label>
        </div>
        <div class="input-group" style="min-width: calc(100% - 90px);">
            <textarea id="tinnhan" class="form-control" required style="border-radius: 10px; width: 100%; max-width: 100%; resize: none"></textarea>

            <span class="input-group-addon fa fa-telegram" id="btngui" style="cursor:pointer"></span>

        </div>


    </div>
    <div class="container">

        <div class="modal fade" id="modalAddthanhvien" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" style="margin-top:100px">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm thành viên</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" placeholder="Nhập email" style="border-radius: 5px; outline: none; min-width: 100%;" class="form-control emailmember" />
                        <br class="result" />
                    </div>
                    <div class="modal-footer">
                        <button class="join btn btn-info btn-lg" onclick="AddMember()" style=" padding: 5px; padding-left: 15px; padding-right: 15px; color: white; border-radius: 5px; margin: 2%">Thêm</button>

                    </div>
                </div>

            </div>
        </div>
        

    </div>
</div>
