@model List<DOANTOTNGHIEP.Models.commentnotification>
@{
    var user = ViewBag.user as DOANTOTNGHIEP.Models.TaiKhoan;
    var malop = ViewBag.malop;
    var mabaithongbao = ViewBag.mabaithongbao;
    Layout = null;
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<style type="text/css">
    .noidungbinhluan::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $('.noidungbinhluan').scrollTop($('.noidungbinhluan')[0].scrollHeight);

    });

    function   handlerdangbinhluan(){

        var noidungbinhuan = $(".inputbinhluan").val()
        if (noidungbinhuan.length > 0) {
            $.ajax({
                url: '/Notification/savebinhluan', type: 'post',
                data: {
                    mabaitongbao: "@mabaithongbao",
                    noidung: noidungbinhuan,
                    malop: "@malop",

                },
                success: function (result) {
                    if (result != "") {
                        $(".binhluanmoi").append(`<div class="card">
                    <div class="card-body">
                        <div>

                            <img src="@user.HinhAnh" style="width:40px;height:40px;border-radius:20px;float:left" />


                            <div style="margin-left: 50px; background-color: rgba(0, 0, 0, 0.05); width: fit-content; padding: 10px; border-radius: 10px; max-width: 400px">
                                <label style="max-width: 400px">@user.Ho @user.Ten  </label>
                                <br />
                                <span class="card-text">${noidungbinhuan}</span>

                            </div>
                            <div class="card-link" style="margin-left:80px">
<form action="/Notification/Replycomment?malop=@malop&amp;macomment=${result}" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#modalreplythongtinbinhluan_${result}" id="form12" method="post">                                    <button class="btn btn-link">Trả lời</button>
</form>

                                <div id="modalreplythongtinbinhluan_${result}">

                                </div>

                            </div>


                        </div>

                    </div>
                </div>
                <hr />`)
                    }
                    $(".inputbinhluan" ).val("")
                    $(".inputbinhluan" ).focus();
                    $('.noidungbinhluan').scrollTop($('.noidungbinhluan')[0].scrollHeight);
                }

            });
        } else {

            alert("vui lòng nhập bình luận ")
        }

    }

</script>
<div style="height: 80%; width: 100%">
    <div style="height: calc(80vh - 90px);overflow-y:scroll;" class="noidungbinhluan">


        @{
            foreach (var comment in Model)
            {

                <div class="card">
                    <div class="card-body">
                        <div>

                            <img src="@comment.TaiKhoan.HinhAnh" style="width:40px;height:40px;border-radius:20px;float:left" />


                            <div style="margin-left: 50px; background-color: rgba(0, 0, 0, 0.05); width: fit-content; padding: 10px; border-radius: 10px; max-width: 400px">
                                <label style="max-width: 400px">@comment.TaiKhoan.Ho @comment.TaiKhoan.Ten  </label>
                                <br />
                                <span class="card-text">@comment.Noidung</span>

                            </div>
                            <div class="card-link" style="margin-left:80px">
                                @using (Ajax.BeginForm("Replycomment", "Notification", new { malop = malop, macomment = comment.Ma }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "modalreplythongtinbinhluan_" + comment.Ma }))
                                {

                                    <button class="btn btn-link">Trả lời</button>
                                }
                                <div id="modalreplythongtinbinhluan_@comment.Ma">

                                </div>

                            </div>


                        </div>

                    </div>
                </div>
                <hr />
            }
            <label class="binhluanmoi"></label>

        }
    </div>

    <div class="form-group bmd-form-group modal-footer" style=" min-width: 100%;height:80px">
        <label class="bmd-label-floating" style="color:black">Bình luận</label><br />
        <div class="input-group" style="min-width: calc(100% - 90px);">
            <input class="form-control inputbinhluan" type="text" placeholder="nhập bình luận" required style="min-width:100%;" />
            <span class="input-group-addon fa fa-telegram" onclick="handlerdangbinhluan()" style=""></span>

        </div>

        <br />
    </div>
</div>


